@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    @apply font-Assistant;
  }

  body {
    @apply dark:bg-[#030303] dark:text-[#FFFFFF] bg-white text-[#030303];
  }

  @font-face {
    font-family: Assistant;
    src: url("../../fonts/assistant/Assistant-Light.ttf");
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: Assistant;
    src: url("../../fonts/assistant/Assistant-Bold.ttf");
    font-weight: 700;
    font-display: swap;
  }

  @font-face {
    font-family: Assistant;
    src: url("../../fonts/assistant/Assistant-Bold.ttf");
    font-weight: 800;
    font-display: swap;
  }

  @font-face {
    font-family: Assistant;
    src: url("../../fonts/assistant/Assistant-Medium.ttf");
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: CormorantGaramond;
    src: url("../../fonts/CG/CormorantGaramond-Regular.ttf");
    font-weight: 400;
    font-display: swap;
  }

  h2 {
    @apply tracking-tighter no-select;
  }

  input,
  textarea select,
  button {
    @apply outline-0;
  }

  button {
    @apply font-medium;
  }

  .border-color {
    @apply border-muted dark:text-[#030303];
  }

  .text-muted-class {
    @apply dark:text-muted text-[#0C0C0C];
  }

  .constraint {
    @apply container;
  }

  .explainer {
    @apply text-base md:text-[2.5vw] leading-normal mb-10 font-Assistant md:mx-[1.94em];
  }

  .small-text {
    @apply text-base md:text-[1.2vw];
  }

  @supports (-webkit-text-stroke: 2px #030303) {
    .no-fill-text {
      -webkit-text-stroke: 2px #030303;
    }
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .dark-mask {
    background-image: radial-gradient(
      circle,
      #030303 3%,
      #03030390 60%,
      #03030385 37%
    );
  }

  .light-mask {
    background-image: radial-gradient(
      circle,
      #ffffff 3%,
      #ffffff90 60%,
      #ffffff85 37%
    );
  }

  .content-min-h {
    min-height: calc(100vh - 10vw);
  }

  /* Scroll Bar */
  ::-webkit-scrollbar {
    width: 5px;
    max-height: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    @apply dark:bg-white bg-[#030303];
    border-radius: 10px;
    margin-right: 5px;
  }

  /* text selection */

  .image-wrapper {
    @apply relative overflow-hidden;
  }

  .image-wrapper-mask {
    @apply absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @apply dark:bg-[#030303] bg-white;
  }

  /* .bg-field::before, .bg-field::after {
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
  }
  
  .bg-field::before {
    z-index: 1;
  }
  
  .bg-field::after {
    background-color: red;
    z-index: -1;
  } */
}

@layer utilities {
  /* Rows */
  .inline-start {
    @apply inline-flex items-center justify-start;
  }

  .inline-center {
    @apply inline-flex items-center justify-center;
  }

  .inline-end {
    @apply inline-flex items-center justify-end;
  }

  .inline-between {
    @apply inline-flex items-center justify-between;
  }

  .inline-evenly {
    @apply inline-flex items-center justify-evenly;
  }

  .start {
    @apply flex items-center justify-start;
  }

  .center {
    @apply flex items-center justify-center;
  }

  .end {
    @apply flex items-center justify-end;
  }

  .between {
    @apply flex flex-row items-center justify-between;
  }

  .evenly {
    @apply flex items-center justify-evenly;
  }

  .around {
    @apply flex items-center justify-around;
  }

  /* Cols */
  .col-start {
    @apply flex flex-col items-start justify-center;
  }

  .col-center {
    @apply flex flex-col items-center justify-center;
  }

  .col-end {
    @apply flex flex-col items-end justify-center;
  }

  .col-between {
    @apply flex flex-col items-start justify-between;
  }

  .no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .word-spacing {
    word-spacing: normal;
  }
}
