@import "../../../node_modules/mouse-follower/src/scss/index.scss";

html.dark {
  .mf-cursor {
    &-text {
      color: #030303;
    }
  }
}

.mf-cursor {
  &.-inverse {
    mix-blend-mode: difference;
  }

  &.-link-pointer {
    // color: #ffffff;
    // mix-blend-mode: difference;
    // background: #000;
    &:before {
      transform: scale(0.4);
      opacity: 0.3;
    }
  }
}
